{% extends 'base.html' %}
{% load static %}

{% block content %} 

<div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<!-- <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/> -->
				<h2>Add Food </h2>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
            <form action="{% url 'add_food' %}" method="POST">
            {% csrf_token %}
                <div class="form-group">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Food:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <p> {% include 'messages.html' %}  </p>
                  </div>
                  <div class="form-group">
                    <label class=" col-sm-2" for="description">Description:</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" rows="3" id="description" name="description"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class=" col-sm-2" for="price">Price:</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="price" name="price">
                    </div>
                  </div>

                  <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-5">
                      <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                  </div>

                  
              </div>
            </form>
</div>

{% endblock %}

